{% extends "base.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Eye Color Detection</li>
                                </ol>
                            </div>
                            <h1>Eye Color Detection</h1>
                        </div>
                    </div>
                    <br>
                    <br>

                    <p align="justify"> The eye color of Fruit Fly is a key phenotypic trait used by researchers to study genetic variations and mutations. 
                        The eye color of fruit flies is controlled by several pigmentation pathways, primarily the pteridine and ommochrome pathways. These pathways 
                        involve a complex series of enzymatic reactions that synthesize pigments from precursors like tryptophan and guanine. In wild-type fruit fly, 
                        these pigments combine to produce the characteristic brick-red eye color. However, mutations in genes that control 
                        these pathways can lead to a variety of eye colors, such as white, brown, sepia, or vermilion.
                        Analyzing these color variations can be crucial for genetic research and understanding the effects of different mutations on eye pigmentation.

                    </p>
                    <br>
                    <br>
                    <div class="down-content">
                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                Easily upload your Drosophila  colored eye image to receive an accurate colorized representation with detailed color names and hex codes.
                                 The system is designed to recognize a wide range of common 
                                eye colors in Drosophila, such as red, white, brown, and sepia, making it easier to visually interpret the phenotypic effects of 
                                genetic mutations. This enhances the visual study of Drosophila eye color phenotypes, providing a more informative and detailed 
                                view for researchers.
                            </p>
                        </strong>
                    </div>
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="static/images/fruitfly_eye.jpg" alt="">


                                </div>
                            </div>


                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->

    <div class="filled-radius-button">
        <a href="eye_color_detection_upload">Proceed</a>
    </div>


{% endblock %}