{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}

    <div class="hero-section">
        <div class="hero-content">
            <h1>Makhi Meter</h1>
            <p>Makhi Meter is a State-of-the-art software designed <br> to aid fly lab researchers around the world.</p>
            <div class="dropdown">
                <button class="btn">Modules</button>
                <ul class="dropdown-menu">
                    <li><a href="/wing/input/">Wing Segmentation</a></li>
                    <li><a href="/brain/input/">Brain Analysis</a></li>
                    <li><a href="/flight/input/">Flight Tracking</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
