/* General Reset */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh; /* Full-screen height */
    background: url("/static/images/assets/SL-120722-54440-04.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Add transparency for better text readability */
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .btns {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #000;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dropdown .btn:hover {
    background: #444;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    text-align: center;
    z-index: 10;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #3E8DA8;
    /* font-weight: bold; */
}
