{% extends "base.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Body Color Detection</li>
                                </ol>
                            </div>
                            <h1>Body Color Detection</h1>
                        </div>
                    </div>
                    <br>
                    <br>

                    <p align="justify"> The body color of Drosophila melanogaster is a key phenotypic characteristic that researchers use to study 
                        genetic mutations and variations. It is determined by pigmentation pathways responsible for producing pigments like melanin. 
                        In wild-type fruit flies, the body is usually a yellowish-brown, but mutations in pigment-regulating genes can result in a 
                        range of body colors, including ebony, yellow, or darker brown shades. Studying these color variations is crucial for genetic 
                        research, as they help uncover the effects of mutations on pigmentation and gene activity.
                        Additionally, body color mutations are often linked to other phenotypic traits, such as changes in behavior, mating patterns, 
                        and fitness. By analyzing these variations, geneticists can better understand the molecular mechanisms governing pigmentation, 
                        as well as broader evolutionary and adaptive processes. This research is vital for exploring the genetic architecture of Drosophila 
                        and its implications in other species.

                    </p>
                    <br>
                    <br>
                    <div class="down-content">
                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                Easily upload your Drosophila colored body image to receive an accurate colorized representation with detailed color names and hex codes. 
                                The system can identify various common Drosophila body colors, including yellow, ebony, and brown. This makes it easier 
                                to visually understand how genetic changes affect body color. The tool helps researchers study Drosophila body color 
                                variations more effectively, providing a deeper understanding of pigmentation differences. 
                                
                            </p>
                        </strong>
                    </div>
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="static/images/fruitfly_body.jpg" alt="">


                                </div>
                            </div>


                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->

    <div class="filled-radius-button">
        <a href="body_color_detection_upload">Proceed</a>
    </div>


{% endblock %}