{% extends "base.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Sharpening Image</li>
                                </ol>
                            </div>
                            <h1>Sharpening Image</h1>
                        </div>
                    </div>
                    <br>
                    <br>

                    <p align="justify"> The sharpening module is a key technique in image processing, designed to enhance the clarity
                        and detail of an image by emphasizing edges and fine features. By increasing the contrast along boundaries, 
                        it helps make important elements more distinguishable, improving overall image quality. This is especially 
                        crucial in fields like scientific imaging, where clear, detailed visuals are essential for accurate analysis. 
                        Sharpening algorithms, such as the Unsharp Mask or High-Pass Filtering, help highlight subtle features, making it 
                        easier to detect fine structures and extract meaningful insights from images.
                    </p>
                    <br>
                    <br>
                    <div class="down-content">
                        <strong>
                            <p align="justify" style="color:#626ad1; font-weight: bold; font-size:18px;">
                                Easily upload your Drosophila image to receive an accurate representation of gender.
                                 The system is designed to recognize gender Male or Female  in Drosophila making it easier to visually interpret the gender of fruit fly. 
                                 This enhances the visual study of Drosophila gender, providing a more informative and detailed view for researchers.
                            </p>
                        </strong>
                    </div>
                    <section class="simple-post">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="static/images/gender_identification_male_female.jpg" alt="">


                                </div>
                            </div>


                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->

    <div class="filled-radius-button">
        <a href="sharpening_image_upload">Proceed</a>
    </div>


{% endblock %}